
.transition-3 {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.slider-content_small {
	height: 50px;
}
.container_white {
	background: #ffffff;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
}
.container_white h1, .container_white h2, .container_white h3, .container_white h4 {
	font-family: 'PT Sans', sans-serif;
}
.face-bg {
	padding: 15px 0 40px;
}
.container_dataset {
	padding: 15px 15px 20px;
}
.filter-title {
	background: #efefef;
	padding: 1px 0;
	border-left: 3px solid #fdc600;
	margin-bottom: 3px;
}
.filter-title h4 {
	margin: 10px 0;
	padding: 0 15px;
}
.filter-area {
	margin-bottom: 20px;
}
.filter-area ul {
	padding: 0;
	margin: 0;
}
.filter-area li {
	list-style: none;
	display: block;
	position: relative;
}
.filter-area li a {
	display: block;
	padding: 5px 15px;
}
.filter-area li a:hover {
	background: #efefef;
}
.fa_filter {
	float: right;
	margin-top: 5px;
	color: #fdc600;
	display: none;
}
.filter-area li a:hover .fa_filter {
	display: block;
}
.filter-area_active li.active {
	display: block;
	background: #efefef;
}
.filter-area_active li.active a {
	color: #fdc600;
}
.filter-area_active li.active:after {
	position: absolute;
	content: " ";
	display: block;
	width: 10px;
	height: 100%;
	border-left: 5px solid #efefef;
	border-right: 5px solid transparent;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	top: 0;
	right: -10px;
}
.filter-area_active li.active .fa_filter {
	display: block;
}
.searchbar-form {
	position: relative;
	overflow: hidden;
}
.datasets-searchbar {
	border: 1px solid #c4c4c4;
	height: 41px;
	border-radius: 6px;
	padding-right: 50px;
}
.searchbar-form button {
	position: absolute;
	top: 0;
	right: 5px;
	background: transparent;
	border: none;
	height: 39px;
	font-size: 30px;
}
.searchbar-form button:hover {
	color: #909090;
}
.search-result-title {
	border-bottom: 1px solid #c4c4c4;
}
.search-result-title .uou-custom-select {
	margin-top: 20px;
	border: 1px solid #c4c4c4;
}
.search-result-title .uou-custom-select span {
	color: rgb(51, 51, 51);
}
.search-result-title .uou-custom-select .fa {
	top: 10px;
}
.search-result-title .uou-custom-select .select-clone {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: -1px;
}
.results-container {
	margin-bottom: 20px;
}
.single-result {
	padding-bottom: 20px;
	border-bottom: 1px solid #c4c4c4;
}
.single-result ul {
	padding: 0;
	margin: 0;
}
.single-result li {
	display: inline-block;
	list-style: none;
	margin-right: 10px;
	border-radius: 3px;
	margin-bottom: 5px;
}
.single-result li a {
	display: block;
	padding: 3px 8px;
	text-align: center;
	color: #ffffff;
}
.single-result li:hover {
	opacity: .7;
}
.result-color_orange {
	background: #ef7100;
}
.result-color_yellow {
	background: #dfb100;
}
.result-color_green {
	background: #2db55d;
}
.result-color_gray {
	background: #aaaaaa;
}
.result-color_red {
	background: #e0051e;
}
.dataset-crumbs {
	padding: 0;
	margin: 7px 0 20px;
}
.dataset-crumbs li {
	display: inline-block;
}
.dataset-crumbs li:after {
	content: "/";
	color: #ffffff;
	font-size: 26px;
}
.dataset-crumbs li:last-child:after {
	content: none;
}
.dataset-crumbs li a {
	color: #ffffff;
	font-size: 26px;
	padding-left: 5px;
	padding-right: 10px;
}
.dataset-crumbs li a:hover {
	color: #fdc600;
}
.main-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url("../img/data_image.jpg") top center no-repeat;
	background-size: cover;
}
header {
	background: #ffffff;
}



/* BLOG */
p.user {
	font-size: 13px;
}