.forum-widget .header {
	border-radius: 6px 6px 0 0;
    background: #fdc600;
    font-weight: 600;
    padding: 16px 0;
}
.forum-widget .topic {
	border-bottom: #EAEDF1 dashed 2px;
    padding: 16px 0 20px;
}
.forum-widget .topic .col-lg-6 p:last-child {
    display: block;
    clear: both;
    padding-top: 12px;
}
.forum-widget .topic .col-lg-6 p {
    margin: 0;
    padding: 0;
}
.forum-widget .topic .col-lg-6 p {
    margin: 0;
    padding: 0;
}
.forum-widget .topic:last-child {
    border: 0;
}
.forum-widget .topics-box {
	border-right: 1px solid #EAEDF1;
	border-bottom: 1px solid #EAEDF1;
	border-left: 1px solid #EAEDF1;
}
.forum-widget .topic-prev-desc p {
	padding-top: 12px !important;
}
.forum-widget .topic-prev-desc p {
	display: block;
}
.forum-widget .single-topic-area p {
	margin-bottom: 0;
}
.under-forum-area {
	margin-bottom: 15px;
}
.under-forum-area input {
	width: auto;
	border: 1px solid #e3e3e3;
}
.under-forum-area input, .under-forum-area button {
	height: 34px;
}
.under-forum-area form button {
	margin-top: -5px;
}
.single-forum-post {
	border: 1px solid #e3e3e3;
	padding: 15px;
	margin-bottom: 30px;
}
.single-forum-post-title {
	font-size: 16px;
	font-weight: 600;
}
.single-forum-post-title i {
	margin: 0 15px;
}
.single-forum-post-meta {
	margin-top: 10px;
}
.single-forum-post-meta i {
	margin-right: 10px;
}
.single-forum-post-meta a {
	color: #fdc600;
	font-weight: 600;
}
.single-forum-post-signature {
	margin-bottom: 15px;
}
.forum-sidebar img {
	display: block;
	margin: auto;
}
.forum-user {
	position: relative;
	text-align: center;
	margin-top: 15px;
}
.user-status:after {
	content: "";
	margin-left: 10px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;

}
.user-status.offline:after {
	background: #e3e3e3;
}
.user-status.online:after {
	background: #00CC00;
}
.forum-user-grade {
	color: #555555;
	text-align: center;
	font-size: 13px;
}
.post-value {
	margin-top: 20px;
	text-align: center;
}
.post-joined {
	text-align: center;
	margin-top: 10px;
}



@media only screen and (max-width : 768px) {
	.single-topic-area img {
		display: none;
	}
	.topic-prev-desc {
		width: auto;
	}
	.topic-prev-desc a, .topic-prev-desc p {
		margin-left: 0 !important;
	}
	.under-forum-area form {
		float: right;
	}
}
@media only screen and (max-width : 600px) {
	.topics-xs {
		display: none;
	}
}
@media only screen and (max-width : 450px) {
	.under-forum-area > div {
		width: 100%;
		margin-bottom: 10px;
	}
	.under-forum-area form {
		float: none;
	}
}