/* --------------------------------------
Table Of  Content

1. Bootstrap
2. Font Awesome
3. Pluging
    3.1 Core Owl Carousel CSS File
    3.2 Owl Carousel Theme
4. General Styles
  4.1 Typography
  4.2 Forms
  4.3 Button
5. Header
  5.1 Header Top Bar
  5.2 Header Search Bar
  5.3 Header Map Section
  5.4 Header Nav Bar
  5.5 Header Slide content
  5.6
6. Home With Slider
7. Page Sidebar
  7.1 Location Detail
  7.2 Distance Range
  7.3 Categories
8. Post Sidebar
9. Company Sidebar
10. Page Content
  10.1 View Switcher 
  10.2 Bootstrap Tab
  10.3 Product Details
  10.4 Category Item (home with slider)
11. Company Single Product
12. Featured Listing
13. Classified Content
14. Register Now
15. Our Partner
16. Page Heading (for post about us contact us)
17. About Us
18. Contact Us
19. Price Listing
20. Sample Page
21. Blog List
22. Blog Post
23. Comment Section
24. Company Profile
25. Company Events
26. Company Contact
27. Footer
28. Shortcodes

---------------------------------------------- */
/* LESS BUILD */

@import "variables.less";
@import "bs-variables.less";
@import "fa-variables.less";
/* Bootstrap */
/* ====================================================== */

// Core variables and mixins
// @import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
// Reset and dependencies
@import "bootstrap/normalize.less";
// @import "bootstrap/print.less";
// @import "bootstrap/glyphicons.less";
// Core CSS
// @import "bootstrap/scaffolding.less";
// @import "bootstrap/type.less";
// @import "bootstrap/code.less";
@import "bootstrap/grid.less";
// @import "bootstrap/tables.less";
// @import "bootstrap/forms.less";
// @import "bootstrap/buttons.less";
// Components
// @import "bootstrap/component-animations.less";
// @import "bootstrap/dropdowns.less";
// @import "bootstrap/button-groups.less";
// @import "bootstrap/input-groups.less";
// @import "bootstrap/navs.less";
// @import "bootstrap/navbar.less";
// @import "bootstrap/breadcrumbs.less";
// @import "bootstrap/pagination.less";
// @import "bootstrap/pager.less";
// @import "bootstrap/labels.less";
// @import "bootstrap/badges.less";
// @import "bootstrap/jumbotron.less";
// @import "bootstrap/thumbnails.less";
// @import "bootstrap/alerts.less";
// @import "bootstrap/progress-bars.less";
// @import "bootstrap/media.less";
// @import "bootstrap/list-group.less";
// @import "bootstrap/panels.less";
// @import "bootstrap/responsive-embed.less";
// @import "bootstrap/wells.less";
// @import "bootstrap/close.less";
// Components w/ JavaScript
// @import "bootstrap/modals.less";
// @import "bootstrap/tooltip.less";
// @import "bootstrap/popovers.less";
// @import "bootstrap/carousel.less";
// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";
/* Font Awesome */
/* ====================================================== */

// @import "font-awesome/variables.less";
@import "font-awesome/mixins.less";
@import "font-awesome/path.less";
@import "font-awesome/core.less";
// @import "font-awesome/larger.less";
// @import "font-awesome/fixed-width.less";
// @import "font-awesome/list.less";
// @import "font-awesome/bordered-pulled.less";
// @import "font-awesome/spinning.less";
// @import "font-awesome/rotated-flipped.less";
// @import "font-awesome/stacked.less";
@import "font-awesome/icons.less";
/* PLugins */
/* ====================================================== */

@import "plugins/owl-carousel.less";
/* Style */
/* ====================================================== */

@import "style/scaffolding.less";
@import "style/type.less";
@import "style/forms.less";
@import "style/buttons.less";
@import "style/header.less";
@import "style/home-with-slider.less";
@import "style/sidebar.less";
@import "style/page-content.less";
@import "style/company-product.less";
@import "style/featured-listing.less";
@import "style/classified.less";
@import "style/register-now.less";
@import "style/our-partners.less";
@import "style/page-heading.less";
@import "style/about-us.less";
@import "style/contact-us.less";
@import "style/price-listing.less";
@import "style/sample-page.less";
@import "style/blog-list.less";
@import "style/blog-post.less";
@import "style/comments-section.less";
@import "style/company-profile.less";
@import "style/company-events.less";
@import "style/company-contact.less";
@import "style/footer.less";
@import "style/widgets.less";
@import "style/shortcodes.less";
.heading-section {
    margin-bottom: 50px;
}

.forum-latest {
    padding-bottom: 50px;
    .forum-widget {
        max-width: 960px;
        margin: 0 auto;
        .topics-box {
            background: #ececec;
            .topic {
                border-bottom: #fff dashed 2px;
                padding: 16px 0 20px;
                &:last-child {
                    border: 0;
                }
                .col-lg-6 {
                    .fa-twitch {
                        float: left;
                        font-size: 54px;
                        margin-right: 12px;
                    }
                    p {
                        margin: 0;
                        padding: 0;
                        &:first-child span {
                            font-size: 20px;
                            font-weight: 700;
                        }
                        &:last-child {
                            display: block;
                            clear: both;
                            padding-top: 12px;
                        }
                    }
                }
                .col-lg-4 {
                    .date {
                        display: block;
                    }
                }
                .col-lg-1 {
                    text-align: center;
                }
            }
        }
    }
    .header {
        background: @default-color;
        border-radius: 3px 3px 0 0;
        font-weight: 600;
        padding: 16px 0;
    }
}