/* featured-listing section */
/* --------------------------------------- */

.featured-listing {
    position: relative;
    padding: 50px 0;
    background: url('../img/pattern_texture1191.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 -5px 5px -5px #333 inset;
    .text-center;
    @media (max-width: @screen-lg) {
        background-attachment: scroll;
    }
    h2 {
        margin: 0;
        padding-bottom: 30px;
        color: #fff;
        .text-uppercase;
        font-weight: 400;
        font-family: @font-family-secondary;
    }
    .single-product {
        position: relative;
        height: auto;
        margin-bottom: 30px;
        background-color: @gray-bg;
        border: 1px solid lighten(@gray-light, 40%);
        border-radius: @border-radius-small;
        overflow: hidden;
        box-shadow: 0 2px lighten(@gray-light, 40%);
        > p, > .read-more {
            .hide;
        }
        figure {
            position: relative;
            margin: 0;
            padding: 1px;
            width: 100%;
            height: 200px;
            border-bottom: 1px solid lighten(@gray-light, 40%);
            img {
                width: 100%;
                height: 100%;
            }
            .rating {
                margin: 1px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 30;
                background-color: fade(@gray-base, 50%);
                ul {
                    margin: 0;
                    padding: 5px @padding-large-vertical;
                }
                li {
                    padding: 0;
                    a {
                        color: #fff;
                        &:hover {
                            color: @default-color;
                        }
                    }
                }
                p {
                    padding: 0 3px;
                    margin: 0;
                    font-size: 12px;
                    font-family: @font-family-secondary;
                    font-weight: 700;
                    background: @default-color;
                    color: @gray-dark;
                    .text-uppercase;
                }
            }
            figcaption {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 50;
                width: 100%;
                height: 100%;
                .text-center;
                background-color: fade(@default-color, 80%);
                a {
                    position: relative;
                    padding: 6px 10px 6px 33px;
                    border: 1px solid @gray-dark;
                    border-radius: @border-radius-small;
                    font-weight: bold;
                    .fa {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 29px;
                        font-weight: bold;
                        border-right: 1px solid @gray-dark;
                    }
                    &:hover {
                        background: @gray-dark;
                        color: @default-color;
                    }
                }
                .bookmark {
                    position: relative;
                    top: 70px;
                    .fa {
                        padding: 7px 9px;
                    }
                }
                .read-more {
                    position: relative;
                    top: 90px;
                    .fa {
                        padding: 7px 11px;
                    }
                }
            }
        }
        &:hover figure figcaption {
            display: block;
        }
        h4,
        h5 {
            margin: 0;
            padding: 5px 30px 0;
            a {
                &:hover {
                    color: lighten(@gray-dark, 20%);
                }
            }
        }
        h4 {
            padding-top: 15px;
        }
        h5 {
            padding-bottom: 10px;
        }
    }
    .discover-more {
        width: 100%;
        .text-center;
        .text-capitalize;
        .fa {
            padding-right: 8px;
        }
    }
    @media (max-width: @screen-xs) {
        // 786px
        .col-xs-6 {
            float: none;
            width: 100%;
            padding: 0 100px;
        }
    }
    @media (max-width: 400px) {
        .col-xs-6 {
            width: 100%;
            padding: 0 20px;
        }
    }
}