/* page-content  */
/* ====================== */

@import "page-content/view-pagination.less";
@import "page-content/product-details.less";
@import "page-content/product-details-list.less";
@import "page-content/category-item.less";
#page-content {
    position: relative;
    .container {
        background: #fff;
        transform: skewX(-10deg);
        border: 4px dashed grey;
        border-bottom: 0;
        max-width: 960px;
        margin: 0 auto;
        .col-md-12 {
            padding: 10px 74px 30px;
            transform: skewX(10deg);
        }
    }
}

.page-content {
    position: relative;
}

.home-with-slide {
    margin-top: -30px !important;
}