/* header-nav-bar */
/* ----------------------------------------------- */

#header {
    .header-nav-bar {
        position: relative;
        button {
            display: none;
        }
        @media (max-width: @screen-md) {
            border-bottom: 0;
            position: fixed;
            top: 0;
            right: -220px;
            z-index: 9999 !important;
            height: 100%;
            width: 220px;
            overflow: visible;
            .transition;
            &.active {
                right: 0;
            }
            button {
                display: block;
                position: absolute;
                left: -35px;
                top: 15px;
                z-index: 9999;
                height: 40px;
                width: 35px;
                line-height: 37px;
                background-color: @default-color;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                &.active {
                    background-color: darken(@gray-dark, 10%);
                    .fa-bars {
                        display: none;
                    }
                    &:before {
                        content: @fa-var-remove;
                        .fa;
                    }
                }
            }
        }
        .primary-nav {
            position: relative;
            margin: 0;
            padding: 0;
            @media (max-width: @screen-md) {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: darken(@gray-dark, 10%);
            }
            > li {
                position: relative;
                float: left;
                border-right: 1px solid lighten(@gray-dark, 70%);
                &:first-child {
                    border-left: 0;
                    >a {
                        padding: 0 26px;
                    }
                }
                &:last-child {
                    border-right: 0;
                }
                > a {
                    display: block;
                    color: @gray-dark;
                    font-weight: @font-weight-large;
                    font-size: @font-size-base;
                    line-height: 32px;
                    padding: 0px 29px;
                    .text-uppercase;
                    .transition;
                    &:hover {
                        color: lighten(@gray-dark, 15%);
                    }
                    .fa {
                        position: absolute;
                        right: 8px;
                        top: 6px;
                    }
                }
                &.bg-color {
                    background-color: @default-color;
                }
                &.active {
                    > ul {
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(0);
                    }
                    @media (max-width: @screen-md) {
                        background-color: @gray-dark;
                        ul li {
                            background-color: darken(@gray-dark, 10%);
                        }
                    }
                }
            }
            ul {
                position: absolute;
                top: 105%;
                left: 0;
                z-index: 9999;
                visibility: hidden;
                margin: 0;
                padding: 0 0 20px 0;
                list-style: none;
                opacity: 0;
                .transition;
                > li {
                    position: relative;
                    > a {
                        display: block;
                        padding: 10px 20px;
                        width: 200px;
                        border-bottom: 1px solid @gray-dark;
                        background-color: fade(@gray-base, 85%);
                        color: #ffffff;
                        &:hover {
                            color: @default-color;
                            background-color: lighten(@gray-dark, 10%);
                        }
                    }
                    &:last-child a {
                        border-radius: 0 0 @border-radius-small @border-radius-small;
                    }
                }
            }
            @media (max-width: @screen-lg) {
                > li > a {
                    font-size: 13px;
                    padding: 0 21px;
                }
            }
            @media (max-width: @screen-md) {
                > li {
                    float: none;
                    border: 0;
                    &:first-child {
                        border-left: 0;
                    }
                    > a {
                        line-height: 35px;
                        color: #fff;
                        border-bottom: 1px solid darken(@gray-dark, 5%);
                        .fa {
                            top: 10px;
                            right: 10px;
                        }
                        &:hover {
                            color: #ddd;
                        }
                    }
                    &.active {
                        background-color: lighten(@gray-dark, 10%);
                        > ul {
                            position: relative;
                            transform: translateY(0);
                        }
                    }
                    ul {
                        padding-bottom: 5px;
                        transform: translateY(5px);
                        .transition;
                        li a {
                            color: @gray-bg;
                            background-color: lighten(@gray-dark, 5%);
                            width: 100%;
                            padding: 5px 30px;
                            border-bottom: 0;
                            &:hover {
                                background-color: @default-color;
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}